.App {
  text-align: center;
}

.title h2 {
  font-size: 3rem;
  color: #2f4f4f;
}

/* CARD */

.card-text {
  height: 75%;
  display: -webkit-box;
  -webkit-line-clamp: 12;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #2f4f4f;
}

.card-body {
  text-align: center;
}

.card-title {
  color: #2f4f4f;
  font-weight: bold;
  font-size: 20px;

  height: 10%;
  margin-bottom: 1rem;
}

.btn {
  background-color: #2f4f4f;
  border: #2f4f4f;
  transition-duration: 0.4s;
  color: white;
}

.btn:hover {
  background-color: #008080;
  color: white;
}
/* SPINNER  */
.loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #008080;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* MOVIE DETAILS  */

.movie-card {
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.image {
  display: flex;
  margin-top: 2%;
  text-align: center;
  justify-content: center;
  margin-top: 2%;
}

.image img {
  width: 20%;
  border-radius: 5%;
}
.movie-overview {
  width: 40%;
  padding: 10% 5%;
  color: #008080;
}

/* PERSON CARD */

.known-for {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  overflow-x: scroll;

  /* Pour IE et Edge  */
  -ms-overflow-style: none;
  /* Pour Firefox */
  scrollbar-width: none;
}

.known-for::-webkit-scrollbar {
  display: none;
}

.known-for img {
  flex-shrink: 0;
}

/* 
NAV BAR */

.nav-item {
  color: #2f4f4f;
  font-weight: bold;
  font-size: 28px;
}

.nav-item :hover {
  color: white;
  font-size: larger;
}
