.App {
  text-align: center;
}

.title h2 {
  font-size: 3rem;
}

/* CARD */

.movie-card {
  width: 100vw;
  height: 100svh;
  text-align: center;
}

.bottom-title {
  /* display: flex; */
  justify-content: center;
}

.image {
  margin-top: 2%;
  display: flex;

  width: 50vw;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-left: 25%;
  margin-top: 2%;
}

.card-text {
  height: 75%;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #2f4f4f;
}

.card-body {
  margin-right: 1rem;
  margin-left: 1rem;
  text-align: center;
}

.card-title {
  color: #2f4f4f;
  font-weight: bold;
  font-size: 20px;
}

.btn {
  background-color: #2f4f4f;
  border: #2f4f4f;
  transition-duration: 0.4s;
  color: white;
}

.btn:hover {
  background-color: #008080;
  color: white;
}
/* SPINNER  */
.loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #3498db;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* PERSON CARD */

.known-for {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  overflow-x: scroll;

  /* Pour IE et Edge  */
  -ms-overflow-style: none;
  /* Pour Firefox */
  scrollbar-width: none;
}

.known-for::-webkit-scrollbar {
  display: none;
}

.known-for img {
  flex-shrink: 0;
}
